<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/tiger.jpg" alt="Tiger" width="100%" height="100%">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>{{ 'SaveAnimals' | translate }}</h1>
            <p>{{ 'homeTitle' | translate }}</p>
            <p><a class="btn btn-lg btn-primary" role="button">
              {{ 'Donate' | translate }}
            </a></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ 'AdoptAnimal' | translate }} <span class="text-muted">{{ 'bodyTitleExp' | translate }}</span></h2>
        <p class="lead top">
          {{ 'rhinoDetails' | translate }}
        </p>
      </div>
      <div class="col-md-5">
        <img src="../../../assets/images/Rhino.jpg" alt="Tiger" width="500" height="500">
      </div>
    </div>
    <hr class="featurette-divider">
</div>    