<div class="content-section introduction">
    <div class="feature-intro fit-top">
        <h1><span>Species Directory</span></h1>
    </div>
</div>

<div class="content-section implementation">
    <div class="card">
        <p-table [value]="products" dataKey="name">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Common Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Scientific Name <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="category">Conservation Status <p-sortIcon field="category"></p-sortIcon></th>
                    <th pSortableColumn="rating">Existing Percent <p-sortIcon field="rating"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{product.name}}</td>
                    <td><img [src]="'assets/images/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-p-3">
                            <img [src]="'assets/images/' + product.image">
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<hr class="featurette-divider">